* {
  border: none;
  padding: 0 6px;
  margin-top: 2px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}
window#waybar { background: transparent; color: #ffffff; }

#custom-ws1, #custom-ws2, #custom-ws3, #custom-ws4, #custom-ws5, #custom-ws6, #custom-ws7, #custom-ws8, #custom-ws9, #custom-ws10 {
  background: transparent;
  min-width: 18px;
	padding-left: 2px;
	color: #fff;
}
#custom-ws1.active,
#custom-ws2.active,
#custom-ws3.active,
#custom-ws4.active,
#custom-ws5.active,
#custom-ws6.active,
#custom-ws7.active,
#custom-ws8.active,
#custom-ws9.active,
#custom-ws10.active
{
  background: rgba(255,255,255,0.15);
  border-radius: 8px;
}

#window, #tray, #clock { background: transparent;}

#tray {
	margin-right: -5px;
}

#tray * {
	padding-left: 0px;
	padding-right: 0px;
}

#tray menu {
    padding: 5px 0;
    margin: 0;
	border: 1px solid #555;
}

#tray menu menuitem {
    padding: 4px 12px;
}

#tray menu menuitem:hover {
    background: rgba(66,165,245,.25);
}

tooltip {
  background: rgba(30,30,30,0.95);
  border: 1px solid #555;
  border-radius: 6px;
}

tooltip label {
  color: #ffffff;
  padding: 4px;
}
